<article>
  <!-- @for(step of steps; track step.title){ -->
  <article class="card">
    <img class="card__img card__img--{{steps[currentStep].bgcolor}}" src={{steps[currentStep].img}}
      alt="{{steps[currentStep].title}}">
    <section class="card__infoContainer">
      <h3 class="card__title">{{steps[currentStep].title}}</h3>
      <p class="card__description">{{steps[currentStep].descripcion}}</p>
      <section class="card__navigation">
        <div class="card__navDots">
          @for(step of steps; track step.title){
          <div class="card__navDot card__navDot--active"
            [ngClass]="{'card__navDot': true,'card__navDot--active':$index === currentStep  }"
            (click)="goToStep($index)"></div>
          }
          <!-- <div class="card__navDot card__navDot--active"></div>
          <div class="card__navDot"></div>
          <div class="card__navDot"></div> -->
        </div>
        <div class="card__buttons">
          @if (currentStep !== 0){
          <button class="card__btn card__btn--back" (click)="goPrevStep()">
            <img class="card__btnIcon card__btnIcon--back" src="assets/icons/arrow_black.svg"
              alt="Black arrow indicates go forward">
          </button>
          }
          @if(currentStep !== steps.length - 1){
          <button class="card__btn card__btn--forward" (click)="goNextStep()">
            <img class="card__btnIcon card__btnIcon--forward" src="assets/icons/arrow_white.svg"
              alt="White arrow indicates go back">
          </button>
          }
        </div>
      </section>
    </section>

  </article>
  <!-- } -->
</article>
